body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(192, 243, 192);
}
 

.img1{
    opacity: .7;
    position: relative;
}


div{
    position: absolute;
    top: 300px;
    right: 500px;
    width: 260px;
}
.recipe .list{
    display: inline-block;
    width: 140px;
    height: 20px;
    margin: 44px 70px;
    list-style: none;
    padding: 8px;
    background-color: white;
    text-align: center;
}

.list .anchor{
    width: 34px;
    font-weight: bold;
    text-decoration: none;
}

