body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(192, 243, 192);
    font-family: sans;
}
 

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.img1{
    opacity: .7;
    position: relative;
}


div{
    position: absolute;
    top: 300px;
    right: 500px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe .list{
    display: flex;
    margin: 34px 40px;
    list-style: none;
    padding: 8px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    height: 40px;
}

.list .anchor{
    width: 164px;
    font-weight: bold;
    text-decoration: none;
}


.recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
